generateSampleData/generateSampleData.json
[{
    "id": "b8724091.fad0d8",
    "type": "tab",
    "label": "GenerateSampleData",
    "disabled": false,
    "info": ""
}, {
    "id": "e0edcfb3.cfea58",
    "type": "debug",
    "z": "b8724091.fad0d8",
    "name": "",
    "active": true,
    "console": "false",
    "xaxis": "_time",
    "complete": "false",
    "x": 970,
    "y": 200,
    "wires": []
}, {
    "id": "c1280b00.455088",
    "type": "function",
    "z": "b8724091.fad0d8",
    "name": "String",
    "func": "var series = [];\n\nfor(var i = 0; i< msg.payload.length; i++) {\n    var element ={_time:\"\", String:\"\"};\n    element.String = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + '\\u0000\\u0007\\u0000';\n    element._time = msg.payload[i]._time;\n    series.push(element);\n}\n\nreturn {payload: series}\n",
    "outputs": "1",
    "noerr": "0",
    "x": 650,
    "y": 320,
    "wires": [
        []
    ],
    "inputLabels": ["outArray"]
}, {
    "id": "575e1400.ddc184",
    "type": "function",
    "z": "b8724091.fad0d8",
    "name": "Boolean",
    "func": "var series = [];\n\nfor(var i = 0; i< msg.payload.length; i++) {\n    var element ={_time:\"\", Boolean:false};\n    element.Boolean = msg.payload[i].varNoise > 0;\n    element._time = msg.payload[i]._time;\n    series.push(element);\n}\n\nreturn {payload: series}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 280,
    "wires": [
        []
    ],
    "inputLabels": ["outArray"]
}, {
    "id": "13170dcf.f22f7a",
    "type": "function",
    "z": "b8724091.fad0d8",
    "name": "TimeStamp",
    "func": "var series = [];\n\nfor(var i = 0; i< msg.payload.length; i++) {\n    var element ={_time:\"\", TimeStamp:\"\"};\n    element.TimeStamp = msg.payload[i]._time;\n    element._time = msg.payload[i]._time;\n    series.push(element);\n}\n\nreturn {payload: series}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 630,
    "y": 360,
    "wires": [
        []
    ],
    "inputLabels": ["outArray"]
}, {
    "id": "ba671532.7e8cc",
    "type": "function",
    "z": "b8724091.fad0d8",
    "name": "BigString",
    "func": "var series = [];\n\nfor(var i = 0; i< msg.payload.length; i++) {\n    var element ={_time:\"\", BigString:\"\"};\n    element.BigString = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15) + '\\u0000\\u0007\\u0000';\n    element._time = msg.payload[i]._time;\n    series.push(element);\n}\n\nreturn {payload: series}\n",
    "outputs": "1",
    "noerr": 0,
    "x": 640,
    "y": 400,
    "wires": [
        []
    ],
    "inputLabels": ["outArray"]
}, {
    "id": "4ee1ce9a.a31a48",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Double",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "Double",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "1",
    "numberOfDecimalPlaces": "3",
    "signals": "[{\"signal\":\"sine\",\"amplitude\":\"230\",\"frequency\":1,\"phase\":0,\"offset\":0,\"start\":0,\"stop\":1,\"excludeStart\":false,\"excludeStop\":false}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 640,
    "y": 200,
    "wires": [
        []
    ]
}, {
    "id": "1a9461cb.1456de",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Integer",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "data",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "1",
    "numberOfDecimalPlaces": "0",
    "signals": "[{\"signal\":\"linear\",\"amplitude\":\"33\",\"frequency\":1,\"phase\":0,\"offset\":0,\"start\":0,\"stop\":1,\"excludeStart\":false,\"excludeStop\":false}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 640,
    "y": 160,
    "wires": [
        ["ac338ebe.8c29b8", "e0edcfb3.cfea58"]
    ]
}, {
    "id": "66f3174.6fddf68",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Long",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "Long",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "1",
    "numberOfDecimalPlaces": "0",
    "signals": "[{\"signal\":\"noise\",\"amplitude\":\"266\",\"frequency\":1,\"phase\":0,\"offset\":0,\"start\":0,\"stop\":1,\"excludeStart\":false,\"excludeStop\":false}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 650,
    "y": 240,
    "wires": [
        []
    ]
}, {
    "id": "7f9f481.6a33fb8",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Random Data",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "varNoise",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "10",
    "numberOfDecimalPlaces": "0",
    "signals": "[{\"signal\":\"noise\",\"amplitude\":\"1000\",\"frequency\":1,\"phase\":0,\"offset\":\"0\",\"start\":\"0\",\"stop\":\"1\"}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 470,
    "y": 280,
    "wires": [
        ["575e1400.ddc184"]
    ],
    "outputLabels": ["outArray"],
    "_type": "node"
}, {
    "id": "3a9fba6d.99cb76",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Random Data",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "varNoise",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "10",
    "numberOfDecimalPlaces": "0",
    "signals": "[{\"signal\":\"noise\",\"amplitude\":\"1000\",\"frequency\":1,\"phase\":0,\"offset\":\"0\",\"start\":\"0\",\"stop\":\"1\"}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 470,
    "y": 320,
    "wires": [
        ["c1280b00.455088"]
    ],
    "outputLabels": ["outArray"],
    "_type": "node"
}, {
    "id": "72b50786.4c56d8",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Random Data",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "varNoise",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "10",
    "numberOfDecimalPlaces": "0",
    "signals": "[{\"signal\":\"noise\",\"amplitude\":\"1000\",\"frequency\":1,\"phase\":0,\"offset\":\"0\",\"start\":\"0\",\"stop\":\"1\"}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 470,
    "y": 360,
    "wires": [
        ["13170dcf.f22f7a"]
    ],
    "outputLabels": ["outArray"],
    "_type": "node"
}, {
    "id": "228140c1.dc9d28",
    "type": "generate",
    "z": "b8724091.fad0d8",
    "name": "Noise",
    "from": "",
    "datetimepickerFrom": "",
    "to": "",
    "datetimepickerTo": "",
    "parameterout": "varNoise",
    "period": "10",
    "mode": "relative",
    "basisUnit": "minute",
    "framesPerBasisUnit": "10",
    "numberOfDecimalPlaces": "0",
    "signals": "[{\"signal\":\"noise\",\"amplitude\":\"1000\",\"frequency\":1,\"phase\":0,\"offset\":\"0\",\"start\":\"0\",\"stop\":\"1\"}]",
    "signal": "",
    "amplitude": "",
    "frequency": "",
    "phase": "",
    "offset": "",
    "start": "",
    "stop": "",
    "formula": "+",
    "x": 450,
    "y": 400,
    "wires": [
        ["ba671532.7e8cc"]
    ],
    "outputLabels": ["outArray"]
}, {
    "id": "6eb44626.325a",
    "type": "inject",
    "z": "b8724091.fad0d8",
    "name": "Trigger",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "properties": "",
    "timezone": "utc",
    "betweentimesunit": "m",
    "enableRuleEngine": false,
    "x": 250,
    "y": 260,
    "wires": [
        ["1a9461cb.1456de", "4ee1ce9a.a31a48", "66f3174.6fddf68", "228140c1.dc9d28", "72b50786.4c56d8", "3a9fba6d.99cb76", "7f9f481.6a33fb8"]
    ]
}, {
    "id": "ac338ebe.8c29b8",
    "type": "write timeseries",
    "z": "b8724091.fad0d8",
    "name": "",
    "topic": "4b93918103014381a891cbc545029952/potiData/data",
    "topicLabel": "RPI Device/potiData/data",
    "assetName": "RPI Device",
    "x": 1010,
    "y": 160,
    "wires": []
}, {
    "id": "7d50f268.bcb14c",
    "type": "comment",
    "z": "b8724091.fad0d8",
    "name": "",
    "info": "generate some sample data for different data types",
    "sticky": 1,
    "x": 510,
    "y": 100,
    "wires": [],
    "_type": "node"
}, {
    "id": "c5963ac3.a6e468",
    "type": "comment",
    "z": "b8724091.fad0d8",
    "name": "",
    "info": "write the sample data to\nyour asset variable",
    "sticky": 1,
    "x": 1010,
    "y": 260,
    "wires": [],
    "_type": "node"
}]